/*
Designove prvky
--------------------------------------------------- */
.annotation {
	text-align: center;
	padding: 150px 0 200px;
	margin-bottom: 70px; 
	position: relative;
	z-index: 2;
	@include bg("landing-image.jpg", transparent, no-repeat, 2020px auto, 50% 0);

	@include breakpoint($lap-and-up) {
		padding: 300px 0 50px;
		min-height: 730px;
		background: none;
	}

	&:before {
		content: '';
		display: block;
		@include abs-pos(auto 0 0 0);
		z-index: 3;
		height: 198px;
		@include bg("annotation.png", transparent, no-repeat, auto, 35% 100%);

		@include breakpoint($lap-and-up) {
			background-position: 50% 100%;
		}
	}
	.btn {
		position: relative;
		z-index: 10;
	}
	p {

		@include breakpoint($palm) {
			margin-bottom: 0;
		}
	}
}
.wrapper {
	background-color: #fff;
	box-shadow: $box-shadow-light;
	padding: 35px 15px;

	@include breakpoint($lap-and-up) {
		padding: 100px 80px 50px;
	}
}

.about-us {
	padding: 50px 0 80px;

	.container {
		padding: 0;
	}
	.about-text {
		margin-bottom: 40px;
		text-align: center;

		@include breakpoint($lap-and-up) {
			margin-bottom: 80px;
			text-align: left;
		}

		i {
			display: block;
			text-align: center;
			color: $gray;
			font-size: 140px;
			margin-bottom: 1rem;

			@include breakpoint($lap-and-up) {
				margin-bottom: 5rem;
			}
		}
	}
	h3 {
		text-align: center;
		
		@include breakpoint($lap-and-up) {
			text-align: left;
		}
		@include breakpoint($desk-and-up) {
			padding: 0 25px;
		}
	}
	p {
		margin-bottom: 0;

		&.text-center {

			@include breakpoint($palm) {
				padding-top: 25px;
			}
		}
	}
}

.films {
	padding: 50px 0;

	h2 {
		padding: 0;
		
		@include breakpoint($lap-and-up) {
			padding: 0 55px;
		}
	}
	.loading {
		position: relative;
		display: block;
		width: 100%;
		min-height: 300px;
		background-color: rgba(255, 255, 255, 0.5);

		i {
			font-size: 50px;
			@include abs-pos(50% auto auto 50%);
			margin: -25px 0 0 -25px;
			color: $brand-color;
			opacity: 0.6;
		}
	}
}

.comments {
	padding: 50px 0;

	.container {
		padding: 0;
	}
	.wrapper {
		margin-bottom: 2.5rem;
		padding-bottom: 40px;

		@include breakpoint($lap-and-up) {
			padding-left: 105px;
			padding-right: 105px;
			margin-bottom: 5rem;
		}
	}
	h3 {
		padding: 0 15px;

		@include breakpoint($lap-and-up) {
			padding: 0 50px;
		}
	}
	.comments-wrapper {
		@extend %cf;
		min-height: 10px;
		display: block;
	}
	.comment {
		@extend .wrapper;
		padding: 20px 15px;
		margin-bottom: 50px;

		@include breakpoint($lap-and-up) {
			padding: 40px 50px;
			margin-bottom: 130px;
		}

		p {
			margin-bottom: 0;

			&.date {
				color: $placeholder-color;
				font-size: 1.5rem;
				margin-bottom: 1.5rem;
			}
		}
	}
}

.contact-us {
	background-color: $gray;

	.map-wrapper {
		position: relative;
		z-index: 4;
		@include wh(100%, 100vh);
		min-height: 300px;
		max-height: 900px;

		#map {
			display: block;
			@include wh(100%);
			@include abs-pos(0 0 0 0);
		}
	}
	.my-div-icon {
		width: 50px !important;
		height: 50px !important;
		margin: -25px 0 0 -25px !important;
		@include svg-bg('marker', transparent, 50% 50%, auto 100%);
	}
}

.about-us,
.films,
.comments {
	margin-top: -50px;
	padding-top: 100px;

	@include breakpoint($lap-and-up) {
		margin-top: -100px;
		padding-top: 200px;
	}
}