/*
Paticka
--------------------------------------------------- */
footer.footer {
	padding: 30px 0;
	color: #fff;
	text-align: center;
	background-color: #323232;

	@include breakpoint($lap-and-up) {
		padding: 50px 0;
	}

	p {
		margin: 0;
		font-size: 26px;
		line-height: 1.25;

		@include breakpoint($lap-and-up) {
			font-size: 36px;
		}

		small {
			font-size: 20px;
			
			@include breakpoint($lap-and-up) {
				font-size: 26px;
			}
		}
	}
}