/*
Globalni styly
--------------------------------------------------- */
html {
	padding: 0;
	margin: 0;

	@include breakpoint($lap-and-up) {
		@include bg("bg.png", $html-bg, repeat-x, auto, 0 0);
	}
}
body {
	color: $text-color;
	font-family: $font-family;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: $font-size-palm;
	font-weight: $font-weight;
	line-height: $line-height;
	overflow-x: hidden;

	@include breakpoint($lap-and-up) {
		font-size: $font-size;
		@include bg("landing-image.jpg", transparent, no-repeat, 2020px auto, 50% 0);
	}
}
main {

	@include breakpoint($lap-and-up) {
		padding-top: 127px;
	}
}
a {
	text-decoration: underline;
	color: $link-color;
	transition: 0.3s all;

	&:hover {
		text-decoration: none;
		color: $link-color-hover;
	}
}
p {
	margin-bottom: 1.5em;
}
img {
	max-width: 100%;
}
strong,
th {
	font-weight: 700;
}

%cf:after {
	content: '';
	display: block;
	clear: both;
}

// selection
::-moz-selection {
    color: #fff;
    background: $brand-color;
}
::selection {
    color: #fff;
    background: $brand-color;
}

/*
Container a jeho modifikace
--------------------------------------------------- */
.container {
	@extend %cf;
	width: 100%;
	max-width: $container-width;
	padding: $container-padding-palm;

	@include breakpoint($lap-and-up) {
		padding: $container-padding;
	}
	@include breakpoint(1930px) {
		max-width: 1850px;
	}
}

/*
Nadpisy
--------------------------------------------------- */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	color: $heading-color;
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
	margin-bottom: 1em;

	&.text-secondary {
		font-weight: $font-weight;
	}
}
h1 {
	font-size: 65px;
	margin-bottom: 5rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;

	@include breakpoint($lap-and-up) {
		font-size: 110px;
		line-height: 0.4;
	}
	@include breakpoint($desk-and-up) {
		font-size: 128px;
	}

	.text-muted {
		font-weight: 400;
		font-size: 34px;
		color: #fff !important;
		text-align: right;
		display: inline-block;
		width: 100%;
	}
}
h2 {
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 2rem;
	padding: 0 15px;

	@include breakpoint($lap-and-up) {
		font-size: 38px;
		padding: 0 100px;
		margin-bottom: 5rem;
	}

	.text-muted {
		font-weight: 400;
		font-size: 30px;
		display: block;
		line-height: 0.75;
	}
}
h3 {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1.5;

	@include breakpoint($lap-and-up) {
		font-size: 32px;
	}
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}


/*
Tabulky
--------------------------------------------------- */
.table {
	margin-bottom: 1.5em;
	color: $text-color;

	th,
	td {
		border: none;
		color: $table-color;
	}
}

// trvale zobrazeni posuvniku na mobilu
.table-responsive {

    @include breakpoint($palm) {
        overflow-x: auto;
        margin-bottom: 25px;
    }
    @include breakpoint($lap-and-up) {
    	margin-bottom: 0;
    }

    &::-webkit-scrollbar {
        width: 12px;
        display: block !important;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
    }

    .table {

    	@include breakpoint($palm) {
    		margin-bottom: 10px;
    	}
    }
}

/*
Kotvicka (blok, na ktery odkazuje kotva)
--------------------------------------------------- */
.anchorBlock {
	margin-top: -30px;
	padding-top: 30px;

	@include breakpoint($lap-and-up) {
		margin-top: -50px;
		padding-top: 50px;
	}
}

/*
Formularove prvky
--------------------------------------------------- */
.form-group {
	position: relative;

	.btn {
		@include abs-pos(50% 0 auto auto);
		transform: translateY(-50%);

		@include breakpoint($lap-and-up) {
			right: 15px;
		}
	}
}
.form-control {
	border: solid $border-color;
	border-width: 0 0 1px;
	padding: 20px 70px 20px 0;
	border-radius: $border-radius;
	font-size: $font-size-palm;

	@include breakpoint($lap-and-up) {
		padding: 30px 100px 30px 35px;
		font-size: $font-size;
	}

	&:focus,
	&:active {
		border-color: $heading-color;
		box-shadow: 0 0 0 .25rem rgba(0,0,0,.25)
	}
	&::placeholder {
	  color: $placeholder-color;
	  opacity: 1;
	}
	&:-ms-input-placeholder {
	  color: $placeholder-color;
	}
	&::-ms-input-placeholder {
	  color: $placeholder-color;
	}
}


/*
Tlacitka
--------------------------------------------------- */
.btn-primary {
	border-radius: $border-radius;
	border: none;
	text-transform: uppercase;
	background: $brand-color;
	padding: 18px 45px 18px 25px;
	min-width: 280px;
	text-align: left;
	font-weight: $font-weight;
	font-size: 22px;
	position: relative;
	box-shadow: $box-shadow;

	@include breakpoint($lap-and-up) {
		font-size: 30px;
		padding: 20px 50px 20px 35px;
		min-width: 340px;
	}

	&:after {
		content: '';
		@include wh(0);
		@include abs-pos(50% 20px auto auto);
		transform: translateY(-50%);
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid #fff;

		@include breakpoint($lap-and-up) {
			right: 35px;
		}
	}
	&:hover,
	&:focus,
	&:active {
		background: $link-color-hover;
	}
}
.btn-secondary {
	@include wh(50px);
	border-radius: 100%;
	background: $text-color;
	border: none;
	color: #fff;
	font-size: 0;
	padding: 0;

	@include breakpoint($lap-and-up) {
		@include wh(76px);
	}

	&:hover,
	&:focus,
	&:active {
		background: $link-color-hover;
	}
	i {
		font-size: 35px;

		@include breakpoint($lap-and-up) {
			font-size: 50px;
		}
	}
}