/*
Hlavicka
--------------------------------------------------- */
header.header {
	padding: 20px 0;
	position: fixed;
	background-color: #0c0f14;
	width: 100%;
	z-index: 50;
	transition: 0.3s all;

	@include breakpoint($lap-and-up) {
		padding: 30px 0;
		@include bg("landing-image.jpg", transparent, no-repeat, 2020px auto, 50% 0);
	}
}
body.fixed-header {

	header.header {
		padding: 10px 0;

		@include breakpoint($lap-and-up) {
			padding: 15px 0;
		}
	}
	.header-nav {
		font-size: 18px;

		@include breakpoint(480px) {
			font-size: 22px;
		}
		@include breakpoint($lap-and-up) {
			font-size: 26px;
		}
	}
}

// hlavni menu
.header-nav {
	transition: 0.3s all;
	font-size: 18px;

	@include breakpoint(480px) {
		font-size: 22px;
	}
	@include breakpoint($lap-and-up) {
		font-size: 34px;
	}

	.nav-link {
		text-transform: uppercase;
		color: #fff;
		padding: 0.5rem 0.75rem;

		@include breakpoint(480px) {
			padding: 0.5rem 1.25rem;
		}
		@include breakpoint($lap-and-up) {
			padding: 0.5rem 1.5rem;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}