/*
Konstanty design
--------------------------------------------------- */

// BARVY
$brand-color: 			#1b3149; 		// brandova barva
$html-bg:				#f5f5f5;	 	// barva pozadi html
$text-color:			#626262; 		// barva textu
$heading-color:			#151515;		// barva nadpisu
$link-color:			$brand-color;	// barva odkazu
$link-color-hover:		#000;			// hover odkazu
$placeholder-color:		#727272;		
$table-color:			#282828;

$border-color:			#746258;		// podklad formulare, border vsude
$gray: 					#cfcfcf; 		// seda barva (tmavsi)

// FONTY
$font-family:			'Open Sans', sans-serif;
$font-family-heading:	$font-family;
$font-size:				28px;			// velikost pisma body
$font-size-palm:		18px;
$line-height:			1.5;			// vychozi line-height
$font-weight: 			400;			// vychozi tloustka pisma
$font-weight-heading:	600;			// tloustka pisma nadpisu

// ROZMERY
$container-width:			1350px;		// maximalni sirka containeru
$container-padding:			0 50px;		// vychozi padding tablet a desktop
$container-padding-palm:	0 15px;		// vychozi padding mobil

// CESTY
$img-path:          	'../img/';

// OSTATNI
$box-shadow: 			0 0 30px rgba(0,0,0,.6);
$box-shadow-light: 		0 0 60px rgba(0,0,0,.3);
$border-radius:			0;


/*
BREAKPOINTY
========================================================================================================= */
$custom-lap-start:          768px !default; 	// max velikost pro breakpoint mobil
$custom-desk-start:         992px !default; 	// max velikost pro breakpoint tablet
$custom-desk-wide-start:    1200px !default; 	// min velikost pro breakpoint hd

$palm:                     	$custom-lap-start - 1 !default; 	// Maximalni hodnota od 1px do xxx
$lap-and-up:                $custom-lap-start !default; 		// Minimalni hodnota pro breakpoint tablet a vyse
$desk-and-up:               $custom-desk-start !default; 		// Minimalni hodnota pro breakpoint desktop a vyse
$desk-wide:                 $custom-desk-wide-start !default;	// Minimalni hodnota pro sirokouhly display