/* =========================================================================================================
* HELPERY - pomocne placeholdery a tridy
========================================================================================================= */


/*
Skryje pouze vizualne, ale zustava dostupne pro screenreader 
www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden 
-------------------------------------------------------------------------------- */
%visuallyhidden,
.visuallyhidden,
.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	left: -500%;
}

/*
Clearfix
-------------------------------------------------------------------------------- */
%cf {
	zoom: 1; // pro IE
	&:before, 
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/*
Absolutne pozicovany element centrovany vertikalne na stred 
- vyzaduje pozicovany rodicovsky element
-------------------------------------------------------------------------------- */
%absVertCentered {
	position: absolute;
	top: 50%;
	width: auto;
	transform: translateY(-50%);
}

/*
Absolutne pozicovany element centrovany horisontalne na stred 
- vyzaduje pozicovany rodicovsky element
-------------------------------------------------------------------------------- */
%absHorCentered {
	position: absolute;
	left: 50%;
	height: auto;
	transform: translateX(-50%);
}

/*
Absolutne pozicovany element centrovany na stred 
- vyzaduje pozicovany rodicovsky element
-------------------------------------------------------------------------------- */
%absCentered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}


/*
	Pomocne tridy - standardni
-------------------------------------------------------------------------------- */




.hideOnMobile {
	@include breakpoint($palm) {
		display: none !important;
	}
}

%hideOnMobile {
	@include breakpoint($palm) {
		display: none !important;
	}
}

.hideOnDesk {
	@include breakpoint($lap-and-up) {
		display: none;
	}
}

%fullWidthRelative {
	display: block;
	width: 100%;
	position: relative;
}

%bgOverlay {
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
    overflow-x: hidden;     
	height: 100%;
	z-index: 100;
}

/*
	Pomocne tridy - pro breakpointy
-------------------------------------------------------------------------------- */

// Odstraneni pozadi, ramecku ...
%noDesign {
	background: transparent;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	&:before,
	&:after {
		border: 0;
	}
}

%fullBlock {
	display: block;
	width: 100%;
}


// Link, ktery se na desktopu netvari jako Link
.noLink {
	font-weight: normal;
	@include breakpoint($lap-and-up) {
		text-decoration: none;
		color: $text-color;		
		font-weight: inherit;
		&:hover {
			color: $text-color;
		}
	}
}
