/* ================================================================================
*  MIXINY
================================================================================ */

/*
* wh
* Definuje defaultne stejnou sirku i vysku. Pripadne rozdilne hodnoty.
* @include wh(150px, 200px)
-------------------------------------------------------------------------------- */
@mixin wh($width, $height: false) {
    width: $width;
    @if ($height) {
        height: $height;
    }
    @else {
        height: $width;
    }
}

/*
* opacity
* Definuje pruhlednost elementu s fallbackem
* @include opacity(0.5);
-------------------------------------------------------------------------------- */
@mixin opacity($value) {
    $IEValue: $value * 100;
    opacity: $value;
    -ms-filter:
    "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

/*
* breakpoint
* Mixina pro vytvareni media queries
* @include breakpoint($lap-and-up) { ... }
-------------------------------------------------------------------------------- */
@mixin breakpoint($value) {
    @if $value == $palm {
        @media (max-width: $custom-lap-start) { @content };
    } 
    @else if $value == $lap-and-up {
        @media (min-width: $custom-lap-start) { @content };
    }
    @else if $value == $desk-and-up {
        @media (min-width: $custom-desk-start) { @content };
    }
    @else if $value == $desk-wide {
        @media (min-width: $custom-desk-wide-start) { @content };
    }
    @else {
        @media (min-width: $value) { @content };
    }
}

/*
* abs-pos
* absolutne pozicovany element
* @include abs-pos(10px 20px auto 30px);
-------------------------------------------------------------------------------- */
@mixin abs-pos($coordinates: 0 0 0 0) {
    $top:     nth($coordinates, 1);
    $right:   nth($coordinates, 2);
    $bottom:  nth($coordinates, 3);
    $left:    nth($coordinates, 4);

    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    position: absolute;
}

/*
* svg-bg
* SVG pozadi + png fallback pomoci modernizeru
* @include svg-bg()
-------------------------------------------------------------------------------- */
@mixin svg-bg($name, $color: transparent, $position: 0 0, $size: 100px 100px, $repeat: no-repeat) {
    background: {
        image: url(#{$img-path}/#{$name}.svg);
        color: $color;        
        position: $position;
        size: $size;
        repeat: $repeat;
    }
    .no-svg & {
        background-image: url(#{$img-path}/png/#{$name}.png);
    }
}

/*
* bg
* Pozadi na elementu
* @include bg();
-------------------------------------------------------------------------------- */
@mixin bg($image: none, $color: transparent, $repeat: no-repeat, $size: auto, $position: 0 0) {
    background: {
        @if $image != none {
            image: url(#{$img-path}/#{$image});
        }
        @else {
            image: $image;
        }
        color: $color;
        repeat: $repeat;
        size: $size;
        position: $position;
    }
}